<guard-navbar></guard-navbar>
<guard-header [title]="'The Guard project'" [message]="'Bacon ipsum dolor amet turkey short ribs pancetta burgdoggen pig meatloaf landjaeger kielbasa. Porchetta beef ribs bacon, short loin tail frankfurter swine prosciutto. Capicola venison swine frankfurter doner leberkas bacon beef ribs burgdoggen. Shoulder corned beef ball tip doner picanha ham porchetta frankfurter tri-tip capicola leberkas jowl burgdoggen shankle. Kielbasa picanha ham hock rump. Ham pancetta shank, fatback andouille meatloaf bacon.'">
</guard-header>
<div class='content container-fluid'>
    <div class="container text-justify">

    </div>
</div>
<guard-footer></guard-footer>