<div class="container-fluid guard-navbar">
    <nav class="nav">
        <div class="row col-md-6 navs d-flex justify-content-start">
            <a class="nav-link" routerLink=''>Главная</a>
            <a class="nav-link" routerLink='/about'>О сайте</a>
        </div>
        <div *ngIf="authenticationEnabled && !isLogged" class="row col-md-6 d-flex justify-content-end">
            <a class="nav-link" routerLink='/login'>Войти</a>
            <a class="nav-link" routerLink='/register'>Зарегистрироваться</a>
        </div>
        <div *ngIf="authenticationEnabled && isLogged" class="row col-md-6 d-flex justify-content-end justify-content-start">
            <span class="nav-link">Добро пожаловать, {{login}}</span>
            <button type="button" class="btn btn-link" (click)='logout()'>Выйти</button>
        </div>
    </nav>
</div>