@import "~bootstrap/scss/bootstrap.scss";

.footer {
    margin-top: 55px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #13293D;
    color: #E8F1F2;
    font: normal small-caps 15px/17px serif;

    a {
        color: #E8F1F2;
        font: normal small-caps 15px/17px serif;
    }
}